<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-06-14T13:34:37Z</date>
	<key>WorkspacePath</key>
	<string>/Users/guilhermebernava/Documents/Pessoal/nmf_social/macos/Runner.xcworkspace</string>
</dict>
</plist>
